.main-header p.h1{
    text-align: center;
}
#service .serv i , .Dgreen a{
    background-color: #dcbb77;
    
}
footer a:hover{
    color: #dcbb77;
}
#header, #ask ,
.cli-btn.color a , #about2 , footer , .navbar-default .navbar-toggle .icon-bar {
    background-color: #2a3ab2;
}
#about1 .h2 , .cli-btn a, .navbar-default .navbar-nav>li>a:hover , .navbar-default .navbar-nav>li>a:focus
, .turbo-nav div.turbo-next::after , .turbo-nav div.turbo-prev::after{
    color: #2a3ab2;
}
 .Dgreen a ,  .navbar-default .navbar-brand {
    color: #fff; 
}

ul.fixedNav {
    width: 100%;
    background:rgb(0, 0, 255);
    position: fixed;
    bottom: -5px;
    left: 0;
    display: none ;
    grid-template-columns: repeat(4,1fr);
    list-style: none;
    z-index: 1000000000000;
}
ul.fixedNav li {
    padding: 10px;
}
ul.fixedNav li a {
    color:white !important;
}
@media (max-width: 768px) {
    ul.fixedNav{
        display: grid !important;
        grid-template-columns: repeat(4,1fr);
    }
}

